<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="Tuki.Nuget" value="https://nuget.pkg.github.com/tukiuy/index.json" />
  </packageSources>
  <packageSourceCredentials>
    
    <Tuki.Nuget>
      <add key="Username" value="%NUGET_USERNAME%" />
      <add key="ClearTextPassword" value="%NUGET_TOKEN%"/>
    </Tuki.Nuget>
  </packageSourceCredentials>
</configuration>