<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/tukiuy/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="i-badell" />
            <add key="ClearTextPassword" value="TOKEN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" />
        </github>
    </packageSourceCredentials>
</configuration>